.wp-spotlight-settings-main-title{
	padding-bottom: 10px;
	padding-top: 20px;
}

.wp-spotlight-settings-table{
	padding-top: 10px;
}

.wp-spotlight-settings-input-text{
	width: 25%;
}

.wp-spotlight-settings-checkbox{
	display: block;
}

.wp-spotlight-settings-table th, .wp-spotlight-settings-table td{
	padding: 0;
	font-weight: unset;
}

#wp-admin-bar-wp-spotlight-search .ui.search>.results .result .description{
	font-size: 10px !important;
	margin-top: -7px;
}

#wp-admin-bar-wp-spotlight-search a.result{
	height: auto !important;
}

#wp-admin-bar-wp-spotlight-search .ui.category.search .results{
	width: 35em !important;
}