.wp-spotlight-settings-main-title{
	padding-bottom: 10px;
	padding-top: 20px;
}

.wp-spotlight-settings-table{
	padding-top: 10px;
}

.wp-spotlight-settings-input-text{
	width: 25%;
}

.wp-spotlight-settings-checkbox{
	display: block;
}

.wp-spotlight-settings-table th, .wp-spotlight-settings-table td{
	padding: 0;
	font-weight: unset;
}