.wp-spotlite-settings-main-title{
	padding-bottom: 10px;
	padding-top: 20px;
}

.wp-spotlite-settings-table{
	padding-top: 10px;
}

.wp-spotlite-settings-input-text{
	width: 25%;
}

.wp-spotlite-settings-checkbox{
	display: block;
}

.whitelable-section-notes{
	padding: 10px 0px;
	display: none;
}

.wp-spotlite-settings-table th, .wp-spotlite-settings-table td{
	padding: 0;
	font-weight: unset;
}

.wp-spotlite-settings-branding-div{
	width: 290px;
	float: left;
	padding-right: 20px
}

.wp-spotlite-settings-branding-div div{
	padding-bottom: 15px;
}

.wp-spotlite-settings-branding-div p{
	padding-bottom: 10px;
}

input[name="whitelable-status"]{
	margin-left: 20px;
}

#logo-view-src{
	width: 50px;
	height:50px;
	display: none;
}

#wp-spotlite-settings-elementor, #wp-spotlite-settings-elementor-pro{
	padding-top: 20px;
}

.wp-spotlite-settings-login-field{
	height: 28px;
	margin-top: 10px;
}